---
import LegacyRedirect from "../../layouts/LegacyRedirect.astro"

---

<LegacyRedirect title="Gizmo Ball" path="/gizmo-ball-vue" wait={20}>
  <p>以下是重构与性能优化后的react新版和vue-next新版地址：</p>
  <p>
    <a href="/gizmo-ball-react">react@17.0.2</a><br>
    <a href="/gizmo-ball-vue-next">vue@3.2.26</a>
  </p>
</LegacyRedirect>