:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
/* Stiky footers: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers */
html {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  background-color: var(--bg-back);
  color: var(--fg-1);
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
body {
  display: grid;
  min-height: 100%;
  min-width: 100%;
  grid-template-rows: auto 1fr auto;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
@mixin light() {
  --dark-display: none;
  --light-display: unset;
  --bg-back: #f6f6f6;
  --bg-main: #ffffff;
  --fg-1: #24292f;
  --fg-2: #57606a;
}
@mixin dark() {
  --dark-display: unset;
  --light-display: none;
  --bg-back: #22272e;
  --bg-main: #2d333b;
  --fg-1: #c9d1d9;
  --fg-2: #8b949e;
}
:root {
  /** light theme by default  */
  @include light();
  @media (prefers-color-scheme: light) {
    @include light();
  }
  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}
.dark {
  display: var(--dark-display);
}
.light {
  display: var(--light-display);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
