---
import { forwardProps } from "../scripts/util";

export interface Props extends astroHTML.JSX.HTMLAttributes {
  path: string;
  "data-no-invert"?: boolean;
}
const { path: rawPath, ...props } = Astro.props;
const path = rawPath ? `url(/assets/${rawPath})` : null;
const finalProps = forwardProps(props, path ? {style: `--path: ${path}`, class: "icon-root" } : {class:"icon-root"});
---

<span {...finalProps}></span>

<style lang="scss">
  .icon-root {
    display: inline-block;
    background-image: var(--path);
    background-size: contain;
    background-repeat: no-repeat;
    @media (prefers-color-scheme: dark) {
      &:not([data-no-invert]) {
        filter: invert(90%);
      }
    }
  }
</style>
