---
import AssetsIcon from "./AssetsIcon.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <p>
    &copy; {currentYear} DarrenDanielDay. All rights reserved.
  </p>
  <p>
    <a href="https://github.com/DarrenDanielDay" target="_blank" title="Darren Daniel Day's github index">
      <AssetsIcon path="logos/github.svg" />
    </a>
    <a href="https://twitter.com/DarrenDanielDay" target="_blank" title="Darren Daniel Day's twitter index">
      <AssetsIcon path="logos/twitter.svg" />
    </a>
    <a
      href="https://www.facebook.com/people/Darren-Daniel-Day/100085674364454/"
      target="_blank"
      title="Darren Daniel Day's facebook index"
    >
      <AssetsIcon path="logos/facebook.svg" />
    </a>
  </p>
  <p class="support">
    Powered by <a href="https://astro.build" title="astro" target="_blank">
      <span class="light">
        <AssetsIcon path="logos/astro-logo-light.svg" data-no-invert />
      </span>
      <span class="dark">
        <AssetsIcon path="logos/astro-logo-dark.svg" data-no-invert />
      </span>
    </a>
  </p>
</footer>

<style lang="scss">
  footer {
    padding: 1.25em 2em;
    bottom: 0;
    border-top: 0.05em rgba(15, 23, 42, 0.3) solid;
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
    p {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &.support {
        gap: 0.5em;
        :global(.icon-root) {
          height: 1.5em;
          width: 4em;
          transform: translateY(0.35em);
        }
      }
    }
    a {
      margin: 0 0.5em;
      text-decoration: none;
      :global(.icon-root) {
        height: 2em;
        width: 2em;
      }
    }
  }
</style>
