---
import DarrenDanielDay from "../assets/DarrenDanielDay.jpg";
import Avatar from "./Avatar.astro";
const path = Astro.url.pathname;
const fragments = [""].concat(
  path
    .split("/")
    .slice(1)
    .filter((p) => !!p)
);
---

<header>
  <nav>
    <ol>
      {
        fragments.map((fragment, i) => (
          <li>
            <a
              href={fragments.slice(0, i + 1).join("/") || "/"}
              class:list={i === fragments.length - 1 ? "current" : []}
            >
              {i === 0 ? (
                <Avatar
                  url={DarrenDanielDay}
                  alt="DarrenDanielDay.jpg"
                  style="height: 2em; transform: translateY(0.6em)"
                />
              ) : (
                fragment
              )}
            </a>
          </li>
        ))
      }
    </ol>
  </nav>
</header>

<style lang="scss">
  header {
    position: sticky;
    border-bottom: 0.05em rgba(15, 23, 42, 0.3) solid;
    nav {
      padding: 0 2em;
      margin: 0;
      display: inline-flex;
      align-items: baseline;
      ol {
        list-style-type: none;
        padding-left: 0;
        display: inline-flex;
        align-items: baseline;
        li {
          align-items: baseline;
          a {
            font-weight: 600;
            text-decoration: none;
            &:not(.current) {
              color: rgb(var(--accent));
            }
          }
          &:not(:last-child) a::after {
            display: inline-block;
            content: "/";
            margin: 0 0.5em;
          }
        }
      }
    }
  }
  li::marker {
    display: none;
  }
</style>
